<IfModule mod_env.c>
    SetEnv CI_ENV development
    SetEnv CI_AUTODETECT_BASEURL true
</IfModule>

RewriteEngine On
RewriteRule ^management-openapi\.yaml$ index.php/swagger/management_yaml [L,QSA]
RewriteRule ^management-openapi\.json$ index.php/swagger/management_json [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
