<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="unit">
            <file>tests/TestFilterParser.php</file>
            <file>tests/TestOpenApiSpecValidator.php</file>
            <file>tests/TestSwaggerGenerator.php</file>
            <file>tests/TestDeploymentHelper.php</file>
            <file>tests/TestStructureMergePreservedRelations.php</file>
            <file>tests/TestApiSafety.php</file>
            <file>tests/TestDataplaneSchemaSync.php</file>
            <file>tests/TestAccessControl.php</file>
            <file>tests/TestSelectOffset.php</file>
        </testsuite>
        <testsuite name="integration">
            <file>tests/TestManagementAPI.php</file>
            <file>tests/TestDataPlaneAPI.php</file>
            <file>tests/TestSingleModeDataPlaneAPI.php</file>
            <file>tests/TestAuthLoginMethods.php</file>
            <file>tests/TestAccessControlManagement.php</file>
            <file>tests/TestAccessControlDataPlane.php</file>
        </testsuite>
        <testsuite name="dbapi">
            <file>tests/TestFilterParser.php</file>
            <file>tests/TestOpenApiSpecValidator.php</file>
            <file>tests/TestSwaggerGenerator.php</file>
            <file>tests/TestDeploymentHelper.php</file>
            <file>tests/TestApiSafety.php</file>
            <file>tests/TestDataplaneSchemaSync.php</file>
            <file>tests/TestAccessControl.php</file>
            <file>tests/TestSelectOffset.php</file>
            <file>tests/TestManagementAPI.php</file>
            <file>tests/TestDataPlaneAPI.php</file>
            <file>tests/TestSingleModeDataPlaneAPI.php</file>
            <file>tests/TestAuthLoginMethods.php</file>
            <file>tests/TestAccessControlManagement.php</file>
            <file>tests/TestAccessControlDataPlane.php</file>
        </testsuite>
    </testsuites>
</phpunit>
